
- var type = locals.type;
- console.log(locals);
- if (type === 'js') {
= '\r\n;'
include ../dist/vendors/core/jquery/2.2.4/jquery.min.js
= '\r\n;'
include ../dist/vendors/style/bootstrap/3.3.7/bootstrap.min.js
= '\r\n;'
include ../dist/vendors/select/selectize/0.12.4/selectize.standalone.min.js
= '\r\n;'
include ../dist/vendors/progress/nprogress/0.2.0/nprogress.min.js
= '\r\n;'
include ../dist/vendors/date/moment/2.17.1/moment.min.js
= '\r\n;'
include ../dist/vendors/date/pikaday/1.5.1/pikaday.min.js
= '\r\n;'
include ../dist/vendors/calendar/fullcalendar/3.1.0/fullcalendar.min.js
= '\r\n;'
include ../dist/vendors/store/localforage/1.4.3/localforage.min.js
= '\r\n;'
include ../dist/vendors/store/dexie/1.5.1/dexie.min.js
= '\r\n;'
include ../dist/vendors/store/firebase/3.6.2/firebase.js
= '\r\n;'
include ../dist/vendors/admin/adminlte/2.3.11/app.min.js
= '\r\n;'
include ../dist/vendors/admin/adminlte/2.3.11/fastclick.min.js
= '\r\n;'
include ../dist/vendors/admin/adminlte/2.3.11/jquery.slimscroll.min.js
= '\r\n;'
include ../dist/vendors/router/director/1.2.8/director.min.js
= '\r\n;'
include ../dist/vendors/table/datatables/1.10.13/jquery.dataTables.min.js
= '\r\n;'
include ../dist/vendors/table/datatables/1.10.13/dataTables.bootstrap.min.js
= '\r\n;'
include ../dist/vendors/editable/bootstrap-editable/1.5.1/bootstrap-editable.min.js
= '\r\n;'
include ../dist/vendors/checkbox/icheck/1.0.2/icheck.min.js
= '\r\n;'
include ../dist/vendors/file/filesaver/1.3.2/FileSaver.min.js
= '\r\n;'
include ../dist/vendors/notify/notifyjs/0.4.2/notify.js
= '\r\n;'
include ../dist/vendors/validate/parsley/2.6.2/parsley.min.js
= '\r\n;'
include ../dist/vendors/validate/validator/6.2.1/validator.min.js
= '\r\n;'
include ../dist/vendors/pivot/pivottable/2.7.0/pivot.min.js
= '\r\n;'
include ../dist/vendors/map/leaflet/1.0.3/leaflet.js
= '\r\n;'
include ../dist/vendors/module/browserify/13.1.0/@_require.js
= '\r\n;'
//-include ../dist/vendors/type/vendor/0.0.0/file.js
- } else if (type === 'css') {
= '\r\n'
include ../dist/vendors/style/bootstrap/3.3.7/bootstrap.min.css
= '\r\n'
include ../dist/vendors/style/bootstrap-vertical-tabs/1.2.2/bootstrap.vertical-tabs.min.css
= '\r\n;'
include ../dist/vendors/progress/nprogress/0.2.0/nprogress.min.css
= '\r\n;'
include ../dist/vendors/date/pikaday/1.5.1/pikaday.min.css
= '\r\n;'
include ../dist/vendors/calendar/fullcalendar/3.1.0/fullcalendar.min.css
= '\r\n'
include ../dist/vendors/admin/adminlte/2.3.11/AdminLTE.standalone.min.css
= '\r\n'
include ../dist/vendors/admin/adminlte/2.3.11/_all-skins.min.css
= '\r\n'
include ../dist/vendors/table/datatables/1.10.13/jquery.dataTables.min.css
= '\r\n'
include ../dist/vendors/table/datatables/1.10.13/dataTables.bootstrap.min.css
= '\r\n'
include ../dist/vendors/checkbox/icheck/1.0.2/all.img.css
= '\r\n'
include ../dist/vendors/pivot/pivottable/2.7.0/pivot.min.css
= '\r\n'
include ../dist/vendors/icon/font-awesome/4.7.0/font-awesome.standalone.min.css
= '\r\n'
include ../dist/vendors/icon/ionicons/2.0.1/ionicons.min.css
= '\r\n'
include ../dist/vendors/map/leaflet/1.0.3/leaflet.css
= '\r\n'
//-include ../dist/vendors/type/vendor/0.0.0/file.css
- }

